.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}

.search-bar input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 230px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.search-bar input:focus {
    outline: none;
    border-color: #4caf50;
    /* green */
    box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
    /* optional glow */
}

.search-bar button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}