.welcome-page {
    display: grid;
    grid-template-rows: 30% 60% 10%;
    height: 100vh;
    padding: 2rem 2rem 0 2rem;
    background-image: url('../../assets/bg_welcomepage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome-header {
    place-self: center;
    text-align: center;
    color: var(--primary-purple-color);
}

.welcome-title {
    font-family: var(--font-title);
    font-size: 2.2rem;
    color: var(--primary-purple-color);
    line-height: 1.3;
    margin-bottom: 2rem;
}

.welcome-title-highlight {
    font-size: 2.8rem;
}

.welcome-subtitle {
    place-self: center;
    text-align: center;
    font-family: var(--font-main);
    font-size: 1.2rem;
    color: var(--primary-purple-color);
}

.welcome-actions {
    place-self: end center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3.5rem;
}

.welcome-btn {
    padding: .5rem 2rem;
    border-radius: 15px;
    border: none;
    background-color: var(--primary-purple-color);
    color: var(--primary-green-color);
    font-size: 1.1rem;
    font-weight: 700;
    font-family: var(--font-main);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: all 0.3s ease;
}

.welcome-btn:hover {
    transform: scale(1.03);
    text-decoration: underline ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    cursor: pointer;
}

.welcome-footer {
    text-align: center;
}

.welcome-footer p {
    font-family: var(--font-main);
    font-size: 0.9rem;
    color: var(--primary-purple-color)
}

@media (min-width: 768px) {
    .welcome-page {
        padding: 3rem 4rem 0 4rem;
        background-image: linear-gradient(0deg,rgba(244, 254, 219, 0.33) 15%, rgba(213, 231, 241, 0.59) 100%), url('../../assets/bg_mini_welcome1.png');
        grid-template-rows: 40% 50% 10%;
        background-position: bottom;
        background-size: auto;
    }

    .welcome-actions {
        place-self: start center;
        justify-content: center;
        gap: 2rem;
        flex-direction: row;
    }

    .welcome-title {
        font-size: 2.5rem;
    }

    .welcome-title-highlight {
        font-size: 3.2rem;
    }

    .welcome-subtitle {
        font-size: 1.4rem;
    }

    .welcome-btn {
        font-size: 1.2rem;
        padding: .7rem 2.5rem;
    }
    
}

@media (min-width: 1024px) {
    .welcome-page {
        padding: 4rem 6rem 0 6rem;
        grid-template-rows: 30% 60% 10%;
        background-image: linear-gradient(0deg,rgba(244, 254, 219, 0.33) 15%, rgba(213, 231, 241, 0.728) 100%),
            url('../../assets/bg_mini_welcome1.png'),
            linear-gradient(0deg,rgba(249, 254, 214, 1) 30%, rgba(202, 255, 231, 0.93) 100%);
    }


    .welcome-title-highlight {
        font-size: 3.3rem;
    }

    .welcome-btn {
        margin-top: 3rem;
        padding: .8rem 3rem;
    }
}