.word-detail {
    background-color: rgba(254, 254, 254, 0.84);
    margin: 2rem auto 0 auto;
    border-radius: 20px;
    padding: 1rem 1rem .5rem 1rem;
    width: 95%;
    max-height: 75vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow-y: scroll;
}

.word-detail-title {
    text-align: center;
    font-size: 1.65rem;
    margin-bottom: 4px;
    color: var(--primary-purple-color);
}

.word-detail-phonetic {
    text-align: center;
    color: #e45c5c;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1rem;
}

.word-detail-meanings {
    margin: .5rem 0;
    padding: 0 1rem 0 0;
}

.word-detail-subtitle {
    font-size: 1.0rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    text-align: left;
    font-weight: bold;
    margin: 0.5rem 0;
    color: var(--primary-purple-color);
}

.word-definitions {
    padding-left: 18px;
    margin: .5rem 0;
}

.word-definitions li {
    margin-bottom: 1rem;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    font-family: var(--font-main);
}

.word-definitions-definition {
    font-size: .95rem;
}

.word-definitions-example-div {
    display: flex;
    align-items: center;
    padding-left: .5rem;
    gap: 8px;
}

.word-definitions-example {
    font-size: .9rem;
    color: #555;
}

.delete-button {
    position: sticky;
    bottom: 0;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 1.2rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: rgba(206, 227, 239, 0.829);
    color: var(--primary-purple-color);

    font-weight: bold;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: all 0.3s ease;
}

.delete-button:hover {
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .word-detail {
        max-width: 650px;
        padding: 30px;
    }

    .word-detail-title {
        font-size: 1.7rem;
    }

    .word-detail-subtitle {
        font-size: 1.1rem;
    }

    .word-definitions-definition {
        font-size: 1rem;
    }

    .word-definitions-example {
        font-size: 0.95rem;
    }

    .delete-button {
        font-size: 15px;
    }
}

@media (min-width: 1024px) {
    .word-detail {
        max-width: 750px;
        padding: 2rem 1rem 1rem 2rem;
        margin: 1.5rem auto 0 auto;
    }

    .word-detail-title {
        font-size: 1.8rem;
    }

    .word-detail-subtitle {
        font-size: 1.2rem;
    }

    .delete-button {
        font-size: 16px;
    }
}