.word-list-container {
    padding: 2rem 1rem;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.word-list-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--primary-purple-color);
}

.word-list-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.word-list-item {
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    color: var(--primary-purple-color);
    cursor: pointer;
}

.word-list-icon {
    margin-right: 10px;
}

.word-link {
    color: #2f4f4f;
    text-decoration: none;
    font-weight: bold;
}

.word-link:hover {
    text-decoration: underline;
}

.word-list-item {
    display: flex;
    align-items: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    color: var(--primary-purple-color);
    border-radius: 8px;
    background-color: var(--bg-image-color);
    margin-top: 7px;
    transition: all 0.3s ease;
}

.word-list-word {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.word-list-arrow {
    font-size: 1rem;
    color: var(--primary-purple-color);
    display: none;
}

.word-list-item:active,
.word-list-item:hover,
.word-list-item:focus-within {
    background-color: #f0fff4;
    box-shadow: 0 0 0 2px #a5d6a7;
    transform: scale(1.005);

    .word-list-icon {
        transform: rotate(-60deg);
    }

    .word-list-arrow {
        display: inline;
    }
}

.word-link {
    color: var(--primary-purple-color);
    font-family: var(--font-main);
    font-weight: 600;
    text-decoration: none;
}

.word-link:hover,
.word-link:focus,
.word-link:active,
.word-link:visited {
    color: var(--primary-purple-color);
    text-decoration: none;
}

@media (min-width: 768px) {
    .word-list-container {
        max-width: 75%;
        margin: 0 auto;
        padding: 2.3rem 1.5rem;
    }

    .word-list-title {
        font-size: 1.65rem;
        margin-bottom: 2.3rem;
    }

    .word-list-item {
        font-size: 1.3rem;
        padding: 12px;
    }

    .word-link {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .word-list-container {
        width: 55%;
        padding: 2rem 2rem;
    }

    .word-list-title {
        font-size: 1.8rem;
        margin-bottom: 3.5rem;
    }

    .word-list-item {
        padding: 12px;
        font-size: 1.35rem;
    }

    .word-link {
        font-size: 1.25rem;
    }
}